body {
    background-color: #000;
    height: 99vh;
    width: 100vw;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    width: 100%;
    height: 3.5vh;
}

#score-div {
    margin-left: 0.33%;
    width: 33%;
    float: left;
    color: #fff;
    font-family: Raleway, Helvetica, sans-serif;
    letter-spacing: 0.5rem;
    font-size: 1.25rem;
}
#time-div {
    width: 66.66%;
    float: right;
    color: #fff;
    font-family: Raleway, Helvetica, sans-serif;
    letter-spacing: 0.5rem;
    font-size: 1.25rem;
    text-align: right;
}

div {
    display: inline;
}

.box {
    width: 8%;
    height: 23.75%;
    /* height: 23.75% (for quarters) 32% (for thirds) 48.25% (for halves)*/
    margin: 0.125rem 0.125rem;
    float: left;
    display: none;
    color: #fff;
    font-family: Raleway, Helvetica, sans-serif;
    text-align: center;
}

.box:hover {
    outline: 1px solid rgba(255, 255, 255, 0.6);
}

.container button {
    padding: 1% 2%;
    margin-top: 45vh;
    color: #636363;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
}


button:hover {
    background-color: rgba(200,200,200, 0.5);
    color: #000;
}

button#blue:hover {
    background-color: #0000ff;
    opacity: 0.6;
}

button#red:hover {
    background-color: #ff0000;
    opacity: 0.6;
}

button#green:hover {
    background-color: #00ff00;
    opacity: 0.6;
}

button#purple:hover{
    background-color: #af00ff;
    opacity: 0.6;
}

button#teal:hover{
    background-color: #00ffff;
    opacity: 0.6;
}

button#start {
    display: none;
}

button:focus {
    outline: 0;
}

.container {
    width: 100%;
    height: inherit;
    display: block;
    margin: 0 auto;
    text-align: center;

}
