// javascript comments work here

// variables -- start with $
// $variable-name: value;
$base-font: 16px;
$header-font-size: 3rem;
$sub-header-font-size: 1.5rem;
$em-header-font-size: 0.75rem;
$p-font-size: 1rem;
$sans-font: 'Helvetica', 'Arial', sans-serif;
$favorite-color-one: #15133f;
$favorite-color-two: #655f8a;
$favorite-color-three: #4e2959;
$favorite-color-four: #c9c9c9;

// build basic style guide
body {
  font-size: $base-font;
  background-color: $favorite-color-four;
}

h1 {
  font-size: $header-font-size;
  font-family: $sans-font;
  color: $favorite-color-three;
}

h2 {
  font-size: $sub-header-font-size;
  font-family: $sans-font;
  color: $favorite-color-two;
}

h3 {
  font-size: $em-header-font-size;
  font-family: $sans-font;
  color: $favorite-color-one;
}

p {
  font-size: $p-font-size;
  font-family: $sans-font;
}

